{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="fr">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "permanences/bootstrap.min.css" %}">

	<title>Tableau des permanences</title>
    </head>
    <body>
	<div class="container">
	    <form method="post" class="form">
		{% csrf_token %}
		{% for hidden_field in form.hidden_fields %}
		{{ hidden_field }}
		{% endfor %}

		{% for field in form.visible_fields %}
		<div class="form-group">
		    {{ field.label_tag }}
		    {% render_field field class="form-control" %}
		    {% if field.help_text %}
		    <small class="form-text text-muted">{{ field.help_text }}</small>
		    {% endif %}
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-info">Enregistrer</button>
	    </form>
	</div>
	<script src="{% static "permanences/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "permanences/bootstrap.bundle.min.js" %}"></script>
    </body>
</html>
